// Microsoft Visual C++ generated resource script.
//
#include "MyResource.h"
#include "LibResource.h"
/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU1 MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       IDM_EXIT
    END
    POPUP "&Debug"
    BEGIN
        MENUITEM "&Break",                      IDM_BREAK
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG1 DIALOGEX 0, 0, 145, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_ABSALIGN | DS_FIXEDSYS | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,50,154,50,14
    DEFPUSHBUTTON   "End Moving Phase",IDB_ENDMOV,17,59,96,14
END

